* {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
main {
    width: calc(100% - 14rem);
}
textarea {
    overflow: hidden;
    /* min-height: 50px; */
    height: auto;
}
.result button {
    opacity: 0;
    transition: all 0.3;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
}
.result:hover button {
    opacity: 1;
}